@import "standard.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content:"";
	display:table;
	clear:both;
}

body {
	font-family: "museo-sans", sans-serif;
	font-style: normal;
	background: #000000;
}

img {
	max-width: 100%;
	border: 0;
}

.img {
	&__logos {
		float: left;
		margin-top: -30px;
	}
}

.bar {
	height: 4em;
	width:100%;
	position: relative;
	padding: 1em 1.8em 0em 0em;
	background-color: #000000;

	&__header {
		border-bottom: 1px solid #413a27;
		background: rgba(0,0,0,.6);
	}

	&__header a, button {
		float: right;
		padding: 0em 1em 0em 1em;
	}

	&__header button {
		background-color: #1085da;
        height: 27px;
		width: 125px;
		border-radius: 5px;
        border: none;
        color: #FFF;
	}

	&__header a {
		height: 1.6em;
		color: #ffffff;
	}

	&__navigation {
		overflow: hidden;
		text-align: center;
		padding-top: 1.5em;
	}

	&__navigation a {
		color: #ffffff;
		text-decoration: none;
		font-size: 0.9em;
		font-weight: 500;
		margin-right: 1.8em;
	}

	&__navigation a.active {
		color: #a39161;
	}

	&__footer {
		overflow: hidden;
    	height: 74px;
    	background: #a39161;
	}

	&__footer p {
		margin-right: 50px;
		float: left;
		font-size: 10px;
		color: #222;
		line-height: 1.2;
		font-weight: 700;
		margin: 20px 50px 0 30px;
	}

	&__footer a {
		color: #fff;
    	text-decoration: underline;
	}
}

.header {
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;

	&--frontpage {
		background-image: url("../images/page-photos/subwoofer.jpg");
		height: 756px;
	}

	&--brands {
		background-image: url("../images/page-photos/banner-speaker.jpg");
		height: 320px;
	}

	&__logo {

		height: 625px;

		&--cell {
		vertical-align: middle;
		height: 100%;
		width: 100%;
		text-align: center;
		padding: 100px 0;
		}

		&--cell img {
			max-width: 100%;
		}

	}

}

#gallery-holder {
	position: relative;
}

#gallery-holder img {
	display: block;
}

.arrow {
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	width: 3.5em;

	&__left {
		left: 40px;
	}

	&__right {
		right: 40px;

	}
}

.social {

	height: 220px;

	&__small {
		&--facebook {
			background: url("../images/page-photos/footer-facebook.png") no-repeat center center;
		}

		&--twitter {
			background: url("../images/page-photos/footer-twitter.png") no-repeat center center;
		}

		&--youtube {
			background: url("../images/page-photos/footer-insta.png") no-repeat center center;
		}

		&--instagram {
			background: url("../images/page-photos/footer-insta.png") no-repeat center center;
		}
	}

	&__box {
		height: 220px;
		width: 33.33333333333333%;
		float: left;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&--facebook {
			background-image: url("../images/page-photos/social-1.jpg")
		}

		&--facebook a {
			background-image: url("../images/page-photos/facebook-large.png")
		}

		&--twitter {
			background-image: url("../images/page-photos/social-2.jpg")
		}

		&--twitter a {
			background-image: url("../images/page-photos/twitter-large.png")
		}

		&--blog {
			background-image: url("../images/page-photos/social-3.jpg")
		}

		&--blog a {
			background-image: url("../images/page-photos/blog-large.png")
		}
	}

	&__box a {
		background-position: center center;
		background-repeat: no-repeat;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		height: 220px;
		background-size: auto 100px;
		display:block;
	}

}

.social:before, .social:after {
	content: "";
    display: table;
    clear: both;
}


.banner {

	height: auto;
    padding: 20px 0;

	&__footer {
		float: left;
		width: 28%;
		height: 190px;
		padding: 0 40px;
		text-align: center;
		margin: 0em 0em 3em 3em;
	}

	&__footer h3 {
		font-size: 26px;
		color: #a09167;
		text-transform: uppercase;
		margin: 20px 0px 20px 10px;
		display: inline-block;
		padding: 6px 22px;
		border: 1px solid #fff;
	}

	&__footer h3 a {
		text-decoration: none;
	}

	&__footer p {
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		line-height: 1.2;
		padding: 0em 0em 2em 1em;
	}
}

.footer {
	&__links {
		margin: 19px auto;
    	font-size: 14px;
	}

	&__img {
		float: right;
		margin: 20px 30px 0 0;
	}

	&__img a {
		display: block;
		float: left;
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}

.banner__text {
	float: left;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 100px;
}

.wrapper {
	padding: 30px;
    max-width: 1560px;
    margin: 0 auto;
}

.banner__logo {
	float: right;
    width: 12.333333333333334%;
    margin-top: 20px;
}

.brands-container {
	background-color: #ffffff;
	padding: 2em;
}

.brands-left {
	float: left;
    min-height: 430px;
    background: url("../images/page-photos/brands-bg-1.jpg") no-repeat left top;
    background-size: cover;
    padding: 30px;
}

.brands-left p {
	color: #a09167;
	margin-bottom: 30px;
	font-weight: 700;
}

.brands-right {
	float: left;
    min-height: 430px;
    background: url("../images/page-photos/brands-bg-2.jpg") no-repeat left top;
    background-size: cover;
    padding: 30px;
}

.brands-right p {
	color: #fff;
    font-size: 16px;
    line-height: 1.4;
}

h1 {
	font-size: 30px;
    margin-bottom: 20px;
    color: #a39161;
    text-transform: uppercase;
    font-weight: 300;
}

.brands-right a {
	text-decoration: underline;
    color: #a39161;

}

/* Shop site */

.main-container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

.category-box {
	width: 25%;
	height: 230px;
	float: left;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.category-box a {
	text-decoration: underline;
	color: #ffffff;
	font-size: 1.2em;
}

/* First row */

.category-shop {
	background: url("../images/page-photos/shop-13.jpg") no-repeat left top;
}

.category-amplifiers {
	background: url("../images/page-photos/shop-6.jpg") no-repeat left top;
}

.category-speakers {
	background: url("../images/page-photos/shop-2.jpg") no-repeat left top;
}

.category-turntables {
	background: url("../images/page-photos/shop-5.jpg") no-repeat left top;
}

/* Second row */

.category-cd {
	background: url("../images/page-photos/shop-8.jpg") no-repeat left top;
}

.category-steamers {
	background: url("../images/page-photos/shop-7.jpg") no-repeat left top;
}

.category-cables {
	background: url("../images/page-photos/shop-9.jpg") no-repeat left top;
}

.category-furniture {
	background: url("../images/page-photos/shop-13.jpg") no-repeat left top;
}

/* Third row */

.category-headphones {
	background: url("../images/page-photos/shop-14.jpg") no-repeat left top;
}

.category-cinema {
	background: url("../images/page-photos/shop-11.jpg") no-repeat left top;
}

.category-outlet {
	background: url("../images/page-photos/shop-15.jpg") no-repeat left top;
}

.category-ebay {
	background: url("../images/page-photos/shop-19.jpg") no-repeat left top;
}

/* Fourth row */

.category-celling {
	background: url("../images/page-photos/shop-16.jpg") no-repeat left top;
}

.category-tv {
	background: url("../images/page-photos/shop-17.jpg") no-repeat left top;
}

.category-vinyl {
	background: url("../images/page-photos/shop-18.jpg") no-repeat left top;
}

.category-now {
	background-color: #a39161;
}

.category-box button {
	display: inline-block;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #685225;
	text-decoration: none;
	border: none;
}
