* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content:"";	
	display:table;
	clear:both;
}

body {
	font-family: "museo-sans", sans-serif;
	font-style: normal;
	background: #000000;
}

img {
	max-width: 100%;
	border: 0;
}

.bar {
	height: 4em;
	width:100%;
	position: relative;
	padding: 1em 1.8em 0em 0em;
	background-color: #000000; 
	
	&__header {
		border-bottom: 1px solid #413a27;
		background: rgba(0,0,0,.6);
	}

	&__header a, button {
		float: right;
		padding: 0em 1em 0em 1em;
	}

	&__header a {
		width: 1.2em;
		height: 1.6em;
		color: #ffffff;
	}

	&__navigation {
		overflow: hidden;
		text-align: center;
		padding-top: 1.5em;
	}

	&__navigation a {
		color: #ffffff;
		text-decoration: none;
		font-size: 0.9em;
		font-weight: 500;
		margin-right: 1.8em;
	}

	&__navigation a.active {
		color: #a39161;
	}

	&__footer {
		overflow: hidden;
    	height: 74px;
    	background: #a39161;
	}

	&__footer p {
		margin-right: 50px;
		float: left;
		font-size: 10px;
		color: #222;
		line-height: 1.2;
		font-weight: 700;
		margin: 20px 50px 0 30px;
	}

	&__footer a {
		color: #fff;
    	text-decoration: underline;
	}
}

.header {
	height: 756px;
    background-image: url("../images/page-photos/subwoofer.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
	
	&__logo {

		height: 625px;

		&--cell {
		vertical-align: middle;
		height: 100%;
		width: 100%;
		text-align: center;
		padding: 100px 0;
		}

		&--cell img {
			max-width: 100%;
		}
		
	}

}

#gallery-holder {
	position: relative;
}

#gallery-holder img {
	display: block;
}

.arrow {
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	width: 3.5em;

	&__left {
		left: 40px;
	}

	&__right {
		right: 40px;

	}
}

.social {

	height: 220px;

	&__box {
		height: 220px;
		width: 33.33333333333333%;
		float: left;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&--facebook {
			background-image: url("../images/page-photos/social-1.jpg")
		}

		&--facebook a {
			background-image: url("../images/page-photos/facebook-large.png")
		}

		&--twitter {
			background-image: url("../images/page-photos/social-2.jpg")
		}		

		&--twitter a {
			background-image: url("../images/page-photos/twitter-large.png")
		}		

		&--blog {
			background-image: url("../images/page-photos/social-3.jpg")
		}		

		&--blog a {
			background-image: url("../images/page-photos/blog-large.png")
		}		
	}

	&__box a {
		background-position: center center;
		background-repeat: no-repeat;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		height: 220px;
		background-size: auto 100px;
		display:block;
	}	

}

.social:before, .social:after {
	content: "";
    display: table;
    clear: both;
}


.banner {
	height: auto;
    padding: 20px 0;

	&__footer {
		max-width: 1200px;
    	margin: 0 auto;
	}

	&__footer h3 {
		font-size: 26px;
		color: #a09167;
		text-transform: uppercase;
		margin-bottom: 10px;
		display: inline-block;
		padding: 6px 22px;
		border: 1px solid #fff;
	}

	&__footer h3 a {
		text-decoration: none;
	}

	&__footer p {
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		line-height: 1.2;
		margin-right: 50px;
	}
}

.footer {
	&__links {
		margin: 19px auto;
    	font-size: 14px;
	}
}